.chat-container {
    display: flex;
    flex-direction: column;
}

.chat-message {
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #606c6c;
    margin-bottom: 1em;
}

.chat-message .message {
    font-size: 1.2em;
}

.chat-message .author {
    font-size: 0.8em;
    color: #669999;
}

.chat-message.user {
    align-items: flex-start;
}

.chat-message.user::before {
    content: '👤';
    margin-right: 0.5em;
}

.chat-message.assistant {
    align-items: flex-end;
}

.chat-message.assistant::before {
    content: '🤖';
    margin-left: 0.5em;
}